<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        #category {color: #cccccc;}
        #category:hover {color: #ffffff;}
        #nb {color: #ffffff;}
        .jumbotron {margin-left: 5%;
                    margin-right: 5%;
                    margin-bottom: 0;
                    padding: 1%;
                    padding-bottom: 5%}
    </style>

    <title>Warehouse App</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow-lg">
        <span class="navbar-brand mb-0" id="nb">Warehouse App</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" id="category" href="{{ url_for('gloves') }}">Gloves</a>
            </li>
            </ul>
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" id="category" href="{{ url_for('facemasks') }}">Facemasks</a>
            </li>
            </ul>
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" id="category" href="{{ url_for('beanies') }}">Beanies</a>
            </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
      function loadXMLDoc(parent_id, manufacturer) {
        var btn = document.getElementById(parent_id).innerHTML;
        document.getElementById(parent_id).innerHTML = "Searching...";
        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            console.log(this.responseText)
            document.getElementById(parent_id).innerHTML = this.responseText;

            if (this.responseText == "INSTOCK"){
              document.getElementById(parent_id).style.color = "green";

            } else if (this.responseText == "LESSTHAN10") {
              document.getElementById(parent_id).style.color = "#cccc00";

            } else if (this.responseText == "OUTOFSTOCK") {
              document.getElementById(parent_id).style.color = "red";

            } else {
              // API error occurred
              document.getElementById(parent_id).innerHTML = btn
            }

          }
        };
        xhttp.open("GET", "background_process/" + parent_id + "/" + manufacturer, true);
        xhttp.send();
      }
    </script>

  </body>
</html>
